body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color:  #FFA500; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #fff; /* White text color for headings */
}

#search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

#city-input {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#city-input::placeholder {
    color: #aaa;
}

#current-weather {
    margin: 20px 0;
}

#current-weather h2 {
    font-size: 24px;
    color: #fff; /* White text color for headings */
}

#current-weather p {
    font-size: 18px;
    color: #eee; /* Light gray text color for content */
    margin: 10px 0;
}

#weather-forecast {
    margin-top: 20px;
}

.forecast-item {
    display: inline-block;
    width: 30%;
    background-color: #007BFF; /* Updated to blue for forecast boxes */
    border: none; /* No border */
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    text-align: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1); /* Added drop shadow */
}

.forecast-item p {
    font-size: 16px;
    color: #fff; /* White text color for content */
}

img {
    max-width: 100px;
    max-height: 100px;
}